*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

li, ul{
    list-style: none;
}

header{
    position: absolute;
    width: 100%;
    padding: 20px;
}

header img{
    max-width: 40px;
    float: left;
    border-radius: 50%;
}

header p{
    position: relative;
    top: -25px;
    font-size: 26px;
    padding-left: 46px;
}

.home {
    display: flex;
}

.home > div{
    flex: 1;
}

.home h1{
    font-size: 3rem;
    margin: 0;
    padding: 0px 40px;
}

.home p{
    margin: 10px 0px;
    padding: 0px 40px;
}

.left-panel{
    align-items: center;
    justify-content: center;
    display: flex;
}

.center-panel{
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
}

.preview{
    position: absolute;
}

.preview img{
    border-radius: 50%;
    width: 469px;
    margin: 0 auto;
    display: block;
    
}

.goods li{
    float: left;
    padding-right: 10px;
}

.goods a{
    display: inline-block;
    cursor: pointer;    
    /*border: 3px solid #f3f3f3;
    border-radius: 10px;*/
}

.goods a img{
    border: 2px solid #f3f3f3;
    border-radius: 50%;
}

.goods a.active img{
    animation: color-change 5s linear infinite;
}

@keyframes color-change {
    0%,100%{
      border-color:#391492;
    }
  
    25%{
      border-color:#B32BB4;
    }
    
    50%{
      border-color:#DD5B5D;
    }
    
    75%{
      border-color:#0091EA;
    }
  }

.goods img {
    max-width: 90px;
}

.shop{
    position: relative;
    max-height: 95vh;
    overflow-y: scroll;
}

.shop li {
    float: left;
    margin: 10px;
}

.shop li a {
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.shop li a span {
    position: absolute;
    transform: rotate(-90deg);
    left: -80px;
    font-size: 12px;
    color: black;
    width: 100%;
    top: 0;
}

.shop li img {
    max-width: 180px;
}

footer{
    position: fixed;
    bottom: 0;
}

footer li{
    float: left;
    padding-right: 10px;
}

footer p{
    clear: both;
    font-size: 12px;
    padding-left: 40px;
}

footer li img {
    width: 16px;
}

@media only screen and (max-width: 768px) {
    .home {
        display: block;
    }

    header img {
        max-width: 26px;
    }

    header p {
        display: none;
    }

    header{
        padding: 5px;
    }

    .preview{
        display: none;
    }

    .home h1{
        font-size: 1rem;
        padding: 0;
    }

    .left-panel {
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        padding-top: 50px;
        padding-left: 10px;
    }

    .home p{
        padding: 0;
    }

    .goods{
        display: none;
    }

    .center-panel{
        display: none;
    }

    .right-panel{
        display: none;
    }
}

/* */

/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
    width: 100%;
    margin: 25px auto 20px auto;
    border-radius: 40px;
  background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    width: 330px;
    height: 20px;
    padding: 20px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
/*     background: #e54040; */
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   